body {
  background-color: #faf5e9;
}

nav {
  background-color: #ffcc00;
}

span.nav-link a {
  color: #009b4d;
}

.btn-primary {
  background-color: rgba(0, 115, 77, 0.8);
  border-color: rgba(0, 115, 77, 0.8);
}

span.badge.text-bg-primary {
  background-color: #ffcc00 !important;
  color: black !important;
}

.btn-primary:hover,
.headline button.btn-primary:active,
.card-body a.btn-primary:active {
  background-color: #009b4d;
  border-color: #009b4d;
}

.jost-semi-bold {
  font-family: "Jost", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.h1 {
  font-size: 32px;
}

.headline {
  font-size: 64px;
}

.main-content {
  margin-top: 100px;
}

.card {
  background-color: rgba(255, 204, 0, 0.1);
}

a.resume-link {
  color: #009b4d;
  text-decoration: none;
}

ul.project-dropdown {
  list-style: none;
}

ul.dropdown-menu{
  background-color: #ffcc00;
}

a.dropdown-item:hover, a.dropdown-item:active{
  background-color: #faf5e9;
}
a.dropdown-item.active{
  background-color: #faf5e9;
  color: black;
}



/* Media query */

@media screen and (max-width: 600px) {
  .headline {
    font-size: 32px;
  }
}
