.bebas-neue-regular {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
}

.jost-semi-bold {
  font-family: "Jost", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.h1{
  font-size: 32px;
}

.headline{
  font-size: 64px;
}